<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Search bar</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
        integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div id="app">
        <div class="container h-100">
            <div class="d-flex justify-content-center h-100">
                <div class="searchbar">
                    <input v-model="term" class="search_input" type="search" name="" placeholder="Search..."
                        onkeydown="doSearchKey(event)" />
                    <a href="#" class="search_icon" @click="search"><i class="fas fa-search"></i></a>
                </div>
            </div>
        </div>

        <div class="wrapper" v-cloak>
            <div class="card" v-for="content in results">
                <a target="_blank">
                    <img v-bind:src="content.img" />
                    <small>posted by: {{ content.author }}</small>
                    {{ content.title }}
                    <small>{{ content.category }}</small>
                </a>
            </div>

            <div v-if="noResults">
                Sorry, but no results were found.
            </div>

            <div v-if="searching">
                <i>Searching...</i>
            </div>
        </div>
    </div>

    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/main.js"></script>
</body>

</html>