<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>Sign up form</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="fonts/linearicons/style.css">
	<link rel="stylesheet" href="css/style.css">
</head>

<body>
	<div class="wrapper">
		<div class="inner">
			<img src="images/image-1.png" alt="" class="image-1">
			<form id="app" @submit="checkForm" action="login.html" method="POST" novalidate="true" v-cloak>
				<h3>New Account?</h3>

				<p v-if="errors.length">
					<b>Please correct the following error(s):</b>
					<ul>
						<li v-for="error in errors">{{ error }}</li>
					</ul>
				</p>

				<div class="form-holder">
					<span class="lnr lnr-user"></span>
					<input id="firstName" :class="{invalid:firstNameCheck.invalid}" @blur="firstNameFocused = true"
						v-model="firstName" type="text" class="form-control" :placeholder="firstNameCheck.placeholder">
				</div>

				<div class="form-holder">
					<span class="lnr lnr-user"></span>
					<input id="lastName" :class="{invalid:lastNameCheck.invalid}" @blur="lastNameFocused = true"
						v-model="lastName" type="text" class="form-control" :placeholder="lastNameCheck.placeholder">
				</div>

				<div class="form-holder">
					<span class="lnr lnr-envelope"></span>
					<input id="email" :class="{invalid:emailCheck.invalid}" @blur="emailFocused = true" v-model="email"
						type="email" class="form-control" :placeholder="emailCheck.placeholder">
				</div>

				<div v-if='emailFocused && !emailValidation.valid'>
					<p class="hint" v-for='error in emailValidation.errors'>{{error}}</p>
				</div>

				<div class="form-holder">
					<span class="lnr lnr-user"></span>
					<input id="username" :class="{invalid:usernameCheck.invalid}" @blur="usernameFocused = true"
						v-model="username" type="text" class="form-control" :placeholder="usernameCheck.placeholder">
				</div>

				<div class="form-holder">
					<span class="lnr lnr-lock"></span>
					<input id="password" :class="{invalid:passwordCheck.invalid}" @blur="passwordFocused = true"
						v-model="password" type="password" class="form-control"
						:placeholder="passwordCheck.placeholder">
				</div>

				<div v-if='passwordFocused && !passwordValidation.valid'>
					<p class="hint" v-for='error in passwordValidation.errors'>{{error}}</p>
				</div>

				<div class="form-holder">
					<span class="lnr lnr-lock"></span>
					<input id="confirmPassword" :class="{invalid:confirmPasswordCheck.invalid || notSamePasswords}"
						@blur="confirmPasswordFocused = true" v-model.lazy="confirmPassword" type="password"
						class="form-control" :placeholder="confirmPasswordCheck.placeholder">
				</div>

				<div v-if='notSamePasswords'>
					<p class="hint">Passwords don't match</p>
				</div>

				<button>
					<span>Sign up</span>
				</button>
			</form>

			<img src="images/image-2.png" alt="" class="image-2">
		</div>

	</div>

	<script src="js/jquery-3.3.1.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="js/main.js"></script>
</body>

</html>